appSportEl20/UnitTestSportEI20/Service References/WCFSeguridad/ModuloSeguridadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1945/ModuloSeguridadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SportEl20.BE" />
  <xs:element name="LoginUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SportEl20.BE" minOccurs="0" name="usuario" nillable="true" type="q1:USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SportEl20.BE" minOccurs="0" name="LoginUsuarioResult" nillable="true" type="q2:USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SportEl20.BE" minOccurs="0" name="RecuperarContraseniaResult" nillable="true" type="q3:USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>