appSportEl20/UnitTestSportEI20/Service References/xwcfDenuncia/DenunciasService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1945/DenunciasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SportEl20.BE" />
  <xs:element name="CrearDenuncia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SportEl20.BE" minOccurs="0" name="DenunciaCrear" nillable="true" type="q1:DENUNCIA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDenunciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SportEl20.BE" minOccurs="0" name="CrearDenunciaResult" nillable="true" type="q2:DENUNCIA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDenuncia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDenunciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SportEl20.BE" minOccurs="0" name="ObtenerDenunciaResult" nillable="true" type="q3:DENUNCIA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDenuncia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SportEl20.BE" minOccurs="0" name="DenunciaModificar" nillable="true" type="q4:DENUNCIA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDenunciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SportEl20.BE" minOccurs="0" name="ModificarDenunciaResult" nillable="true" type="q5:DENUNCIA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDenuncia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDenunciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDenuncia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDenunciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SportEl20.BE" minOccurs="0" name="ListarDenunciaResult" nillable="true" type="q6:ArrayOfDENUNCIA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>