appSportEl20/UnitTestSportEI20/Service References/xwcfDenuncia/DenunciasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DenunciasService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1945/DenunciasService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1945/DenunciasService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1945/DenunciasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SportEl20.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDenunciasService_CrearDenuncia_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearDenuncia" />
  </wsdl:message>
  <wsdl:message name="IDenunciasService_CrearDenuncia_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearDenunciaResponse" />
  </wsdl:message>
  <wsdl:message name="IDenunciasService_ObtenerDenuncia_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDenuncia" />
  </wsdl:message>
  <wsdl:message name="IDenunciasService_ObtenerDenuncia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDenunciaResponse" />
  </wsdl:message>
  <wsdl:message name="IDenunciasService_ModificarDenuncia_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarDenuncia" />
  </wsdl:message>
  <wsdl:message name="IDenunciasService_ModificarDenuncia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarDenunciaResponse" />
  </wsdl:message>
  <wsdl:message name="IDenunciasService_EliminarDenuncia_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDenuncia" />
  </wsdl:message>
  <wsdl:message name="IDenunciasService_EliminarDenuncia_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDenunciaResponse" />
  </wsdl:message>
  <wsdl:message name="IDenunciasService_ListarDenuncia_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarDenuncia" />
  </wsdl:message>
  <wsdl:message name="IDenunciasService_ListarDenuncia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarDenunciaResponse" />
  </wsdl:message>
  <wsdl:portType name="IDenunciasService">
    <wsdl:operation name="CrearDenuncia">
      <wsdl:input wsaw:Action="http://tempuri.org/IDenunciasService/CrearDenuncia" message="tns:IDenunciasService_CrearDenuncia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDenunciasService/CrearDenunciaResponse" message="tns:IDenunciasService_CrearDenuncia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDenuncia">
      <wsdl:input wsaw:Action="http://tempuri.org/IDenunciasService/ObtenerDenuncia" message="tns:IDenunciasService_ObtenerDenuncia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDenunciasService/ObtenerDenunciaResponse" message="tns:IDenunciasService_ObtenerDenuncia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarDenuncia">
      <wsdl:input wsaw:Action="http://tempuri.org/IDenunciasService/ModificarDenuncia" message="tns:IDenunciasService_ModificarDenuncia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDenunciasService/ModificarDenunciaResponse" message="tns:IDenunciasService_ModificarDenuncia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDenuncia">
      <wsdl:input wsaw:Action="http://tempuri.org/IDenunciasService/EliminarDenuncia" message="tns:IDenunciasService_EliminarDenuncia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDenunciasService/EliminarDenunciaResponse" message="tns:IDenunciasService_EliminarDenuncia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarDenuncia">
      <wsdl:input wsaw:Action="http://tempuri.org/IDenunciasService/ListarDenuncia" message="tns:IDenunciasService_ListarDenuncia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDenunciasService/ListarDenunciaResponse" message="tns:IDenunciasService_ListarDenuncia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDenunciasService" type="tns:IDenunciasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearDenuncia">
      <soap:operation soapAction="http://tempuri.org/IDenunciasService/CrearDenuncia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDenuncia">
      <soap:operation soapAction="http://tempuri.org/IDenunciasService/ObtenerDenuncia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarDenuncia">
      <soap:operation soapAction="http://tempuri.org/IDenunciasService/ModificarDenuncia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDenuncia">
      <soap:operation soapAction="http://tempuri.org/IDenunciasService/EliminarDenuncia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarDenuncia">
      <soap:operation soapAction="http://tempuri.org/IDenunciasService/ListarDenuncia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DenunciasService">
    <wsdl:port name="BasicHttpBinding_IDenunciasService" binding="tns:BasicHttpBinding_IDenunciasService">
      <soap:address location="http://localhost:1945/DenunciasService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>