appSportEl20/UnitTestSportEI20/Service References/xwcfDenuncia/DenunciasService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SportEl20.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SportEl20.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DENUNCIA">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DETALLE_FOTOS" nillable="true" type="tns:ArrayOfDETALLE_FOTO" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHADENUNCIA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_DENUNCIA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="TIPODENUNCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="tns:USUARIO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DENUNCIA" nillable="true" type="tns:DENUNCIA" />
  <xs:complexType name="ArrayOfDETALLE_FOTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DETALLE_FOTO" nillable="true" type="tns:DETALLE_FOTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDETALLE_FOTO" nillable="true" type="tns:ArrayOfDETALLE_FOTO" />
  <xs:complexType name="DETALLE_FOTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FOTODENUNCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_DENUNCIA" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DETALLE_DENUNCIA" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DETALLE_FOTO" nillable="true" type="tns:DETALLE_FOTO" />
  <xs:complexType name="USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="APE_MAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APE_PAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_PERFIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFull" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOPROFESION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USUARIO" nillable="true" type="tns:USUARIO" />
  <xs:complexType name="ArrayOfDENUNCIA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DENUNCIA" nillable="true" type="tns:DENUNCIA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDENUNCIA" nillable="true" type="tns:ArrayOfDENUNCIA" />
</xs:schema>