appSportEl20/UnitTestSportEI20/Service References/WCFUsuario/UsuariosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SportEl20.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SportEl20.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="APE_MAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APE_PAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOPROFESION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USUARIO" nillable="true" type="tns:USUARIO" />
  <xs:complexType name="ExceptionBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionBase" nillable="true" type="tns:ExceptionBase" />
</xs:schema>