appSportEl20/UnitTestSportEI20/Service References/WCFUsuario/UsuarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1945/UsuariosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1945/UsuariosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1945/UsuariosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SportEl20.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuariosService_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ObtenerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuariosService_ObtenerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuariosService">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/CrearUsuario" message="tns:IUsuariosService_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/CrearUsuarioResponse" message="tns:IUsuariosService_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ModificarUsuario" message="tns:IUsuariosService_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ModificarUsuarioResponse" message="tns:IUsuariosService_ModificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuariosService/ObtenerUsuario" message="tns:IUsuariosService_ObtenerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuariosService/ObtenerUsuarioResponse" message="tns:IUsuariosService_ObtenerUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuariosService" type="tns:IUsuariosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuariosService/ObtenerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port name="BasicHttpBinding_IUsuariosService" binding="tns:BasicHttpBinding_IUsuariosService">
      <soap:address location="http://localhost:1945/UsuariosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>